{% extends 'base.html' %} {% block page %}
<header>{% include 'navbar.html'%}</header>

<main>
  <section class="hero is-white is-large">
    <div class="hero-body is-primary">
      <div class="container">
        <h1 class="title">R2BAC</h1>
        <h2 class="subtitle">La route la plus facile et rapide</h2>

        <div class="block">
          <p class="is-text">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Laboriosam
            labore reprehenderit rerum ut nobis sint neque asperiores, ad,
            corporis magni dignissimos exercitationem earum ipsa a adipisci sunt
            quisquam, magnam nihil?
          </p>
          <a class="button mt-3 is-primary">Découvrir</a>
        </div>
      </div>
    </div>
  </section>

  <section class="section has-background-primary has-text-white">
    <h1 class="title has-text-centered has-text-white">
      Des cours 100% Gratuit
    </h1>
    <div class="columns">
      {% for card in cards %}
      <div class="column is-one-third">
        <div class="card">
          <div class="card-header">
            <p class="card-header-title">card.title</p>
          </div>
          <div class="card-content">card.content</div>
        </div>
      </div>
      {% endfor %}
    </div>
  </section>
</main>

<footer></footer>
{% endblock %}
