{% extends 'r2bac/base.html' %}

{% block content %}
<section class="section">
  <div class="container">
    <h1 class="title has-text-centered">Mentions Légales</h1>

    <div class="content is-medium">

      <div class="box">
        <h2 class="subtitle">Éditeur du site</h2>
        <p>
          Nom du site : R2BAC<br>
          Email : <a href="mailto:contact@r2bac.com">contact@r2bac.com</a><br>
          Projet éducatif à but non lucratif.
        </p>
      </div>

      <div class="box">
        <h2 class="subtitle">Hébergement</h2>
        <p>
          Nom de l’hébergeur : ANCELADE<br>
          Adresse : 128 rue de la Boetie 75008 Paris<br>
          Téléphone : 09 73 45 44 60
        </p>
      </div>

      <div class="box">
        <h2 class="subtitle">Propriété intellectuelle</h2>
        <p>
          Tous les contenus présents sur ce site (textes, images, vidéos, logos) sont protégés par le droit d’auteur. Toute reproduction ou utilisation sans autorisation est interdite.
        </p>
      </div>

      <div class="box">
        <h2 class="subtitle">Collecte de données</h2>
        <p>
          Conformément à la loi Informatique et Libertés, vous disposez d’un droit d’accès, de modification et de suppression de vos données personnelles. Pour exercer ce droit, contactez-nous à : <a href="mailto:contact@r2bac.com">contact@r2bac.com</a>.
        </p>
      </div>

      <div class="box">
        <h2 class="subtitle">Cookies</h2>
        <p>
        Le site utilise des cookies nécessaires au bon fonctionnement et à la sécurité de R2BAC.  
        Ces cookies ne servent pas à la publicité.  
        Vous pouvez gérer certains paramètres via votre navigateur, mais la désactivation de ces cookies peut altérer le fonctionnement du site.
        </p>
      </div>

      <div class="box">
        <h2 class="subtitle">Responsabilité</h2>
        <p>
          R2BAC est un projet éducatif et ne peut être tenu responsable des dommages directs ou indirects liés à l’accès ou à l’utilisation des informations fournies sur le site.
        </p>
      </div>

    </div>
  </div>
</section>
{% endblock %}
