{% extends 'panel/components/table.html' %}

{% block main %}
  <section class="section">
    <h1 class="title">Liste des chapitres</h1>
  </section>
  <div class="fixed-grid has-4-cols">
    <div class="grid">
      <div class="cell is-col-from-end-2"> 
        <a href="{% url 'panel:create_course'%}" class="button is-primary">+ Nouveau Cours</a>
      </div>
    </div>
  </div>
{% endblock %}

{% block thead%}
  <th>ID</th>
  <th>Classe</th>
  <th>Matière</th>
  <th>Chapitre</th>
  <th>Titre</th>
  <th>Url</th>
  <th>Auteur</th>
  <th>Contributeurs</th>
{% endblock %}

{% block tbody %}
  <td>{{obj.id}}</td>
  <td>{{obj.chapter.subject.grade}}</td>
  <td>{{obj.chapter.subject}}</td>
  <td>{{obj.chapter}}</td>
  <td>{{obj.name}}</td>
  <td>{{obj.slug}}</td>
  <td>{{obj.author}}</td>
  <td>{% for obj in obj.contributors.all %}{{ obj }}, {% endfor %}</td>
  {% if request.user.is_superuser or request.user == obj.author or request.user in obj.contributors.all %}
  <td><a class="button is-primary" href="{% url 'panel:edit_course' pk=obj.id %}">✏️</a></td>
  {% endif %}
  <td><a class="button is-primary" href="{% url 'courses:course' grade_id=obj.chapter.subject.grade.slug subject_id=obj.chapter.subject.slug chapter_id=obj.chapter.slug course_id=obj.slug %}">👁️</a></td>


{% endblock %}