@use "utils/variables" as var;
@use "utils/mixins" as mx;

body {
  display: flex;
  background-color: var.$link;
  justify-content: center;
  align-items: center;
}

.card-header,
.card-footer {
  border: none;
  box-shadow: none;
}

.card {
  height: max-content;
  max-width: 560px;
  width: 90vw;
  @include mx.shadow;
}

