{% extends 'accounts/base.html' %}

{% block content %}
<form method="post">
    {% csrf_token %}
    Est tu vraimment sur de vouloir supprimer ton compte ? Cette action est irréversible et entraineras la supression de ton compte
    ainsi que toutes tes données personnels.

    <button type="submit">Oui, supprimer mon compte et toutes mes données personnelles selon conformémment à l'article 17 du RGPD sur le droit à l'effacemment</button>
    <a href="{% url 'home'%}">Non, je ne souhaite pas supprimer mon compte finalemment</a>

</form>

{% endblock %}