{% extends 'accounts/board.html'%}

{% block section %}

    {% if user.profile.avatar %}
    <img src="{{ user.profile.avatar.url }}"/>
    {% endif %}
    <form enctype="multipart/form-data" method="post">
        {% csrf_token %}
        {% for field in form %}
            <div>
                {{ field.errors }}
                {{ field.label_tag }} {{ field }}
            </div>
        {% endfor %}
        <div>
            <button>Sauvegarder les changemments</button>
            <button type="reset">Rénitialiser les changemments</button>
        </div>
    </form>
{% endblock %}