@charset "utf-8";

@use 'utils/variables' as var;
@use 'utils/mixins' as mx;



@use "libs/utilities" with (
  $primary: var.$primary,
  $link: var.$link
);

@use "sass:color";
@use "libs/base";
@use "libs/elements";
@use "libs/form";
@use "libs/components";
@use "libs/grid";
@use "libs/layout";
@use "libs/base/skeleton";
@use "libs/helpers";

@use "libs/themes/light";
@use "libs/themes/setup";

:root {
  @include light.light-theme;
  @include setup.setup-theme;
}

@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
body,
html {
  font-family: "Roboto", sans-serif;
  height: 100%;
}

.notifications {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  bottom: clamp(0px, 10vw, 64px);
  right: clamp(0px, 5vw, 8px);
  z-index: 100;
}

.notification {
  max-width: 90vw;
  width: max-content;
  padding-right: 64px;
  overflow-wrap: break-word;
  @include mx.shadow;
}
