{% extends 'panel/base.html' %}
{% load tags %}
{% load static %}

{% block content %}
<script src="{% static 'panel/js/chapter.js' %}" defer></script>
<section class="section">
  <form method="post">
    {% csrf_token %}
    {% include 'components/form.html'%}
    {% block submit %}
    {% endblock %}
    <div class="mt-5">
      <button class="button is-primary">Sauvegarder</button>
      <button type="reset" class="button is-danger">Rénitialiser les changements</button>
      <a class="button is-danger" href="{% url 'panel:delete_chapter' pk=object.id %}">Supprimer le chapitre</a>
    </div>
  </form>
</section>
{% endblock %}