{% extends 'base.html' %} 
{% load static %}
{% load tags %}
{% block page %}
<link rel="stylesheet" href="{% static 'accounts/css/card.css' %}">

<div class="card">
  <form method="post">
    <div class="card-header">
      {% block card-top %}
      <h1 class="card-header-title">{{ title }}</h1>
      {% endblock %}
    </div>

    <div class="card-content">

      {% csrf_token %}
      
      {% block form %}
        {% for field in form %}
        {% with field_type=field.field.widget.input_type%}
        <div class="field">
          {% if field_type == "checkbox" %}
          <label class="checkbox" for="{{ field.name }}">
            <input id="{{ field.name }}" class="{{ field_type|is_writable }}" name="{{ field.name }}" type="{{ field_type }}" placeholder="{{ field|placeholder }}" {%if field.initial == True %} checked {% endif %}>
            {{ field.label|safe }}
          </label>
          {% else %}
          <label class="label" for="{{ field.name }}">{{ field.label|safe }}</label>
          <div class="control">
            <input id="{{ field.name }}" class="{{ field_type|is_writable }}" name="{{ field.name }}" type="{{ field_type }}" placeholder="{{ field|placeholder }}" value="{% if field.initial %}{{ field.initial }}{% endif %}">
          </div>
          {% endif %}
          {% for error in field.errors %}
            <p class="help is-danger">{{ error }}</p>
          {% endfor %}
          {% for key, value in form.errors.items %}
            {% if key == '__all__' %}
            {% for i in value %}
            <p class="help is-danger">{{ i }}</p>
            {% endfor %}
            {% endif %}
          {% endfor %}
        </div>
        {% endwith %}
        {% endfor %}
        
      {% endblock %}
      
      {% block card-mid %}
      
      {% endblock %}
    </div>

    <div class="card-footer">
      {% block card-bottom %}
      <button class="button is-primary" type="submit">{{ title }}</button>
      {% endblock %}
    </div>
  </form>
</div>
{% endblock %}
