{% extends 'accounts/base.html' %}

{% block page %}
{% include 'components/navbar.html' %}

<main class="section is-large">
    <form method="post">
        {% csrf_token %}
        <h1 class="title ">Est tu vraimment sur de vouloir supprimer ton compte ?</h1>
        <p class="content">Cette action est irréversible et entraineras la supression de ton compte
        ainsi que toutes tes données personnels.</p>
        
        <div class="content m-3">
            <button class="button is-danger m-2" type="submit">Oui, supprimer mon compte et toutes mes données personnelles conformémment à l'article 17 du RGPD sur le droit à l'effacemment</button>
            <a href="{% url 'home'%}" class="button is-success has-text-white m-2">Non, je ne souhaite pas supprimer mon compte finalemment</a>
        </div>
        
    </form>
</main>

{% include 'components/footer.html' %}

{% endblock %}