{% extends 'components/card.html' %}

{% block card-top %}
    <h1 class="card-header-title is-centered">Vérification de ton compte</h1>
{% endblock %}

{% block card-mid %}
<p style="text-align: center;">Allez {{ user.first_name }} ! 🎉 Tu y es presque ! Pour finaliser la création de ton compte, consulte tes mails. Un lien d'activation t'y attend avec impatience.</p>
{% endblock %}

{% block card-bottom %}
<button class="button is-primary m-3" type="submit">Renvoyer l'email de vérification</button>
{% endblock %}
